* {
    margin: 7px;
    padding: 0;
    font-family: 'Apple SD Gothic Neo', sans-serif;
    box-sizing: border-box;
    font-weight: 200;
}

body {
    background-image: url("/static/img//backgroung.jpg");

}

header {
    font-size: 15px;
}

.boxes-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.column-header {
    padding-left: 20px;
    margin-bottom: 0;

}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.column {
    background-color: rgba(230, 230, 250, 0.45);
    min-height: 600px;
    min-width: 40vh;
    border-radius: 10px;
    margin-top: 0;
}

.task-container {
    padding: 10px;
    width: 315px;
    border-radius: 10px;
}

.task-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    margin-bottom: 20px;
    cursor:move;
    box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
    border:2px dashed transparent;

}
.task-body:hover {
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-color:rgba(162,179,207,.2)!important;

}
.task-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 0;
    font-size: 17px;

}

.task-body img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 10px;
    opacity: 0.6;
    /*background-color: rgba(211, 211, 211, 0.3);*/
    /*border-radius: 10px;*/
}

ul li {
    position: relative;
    left: -7px;
    width: 281px;
    height: 100px;
    font-size: 17px;
    padding-left: 15px;
    /*padding: 0px 10px;*/
}
.task-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: 1px solid rgba(230, 230, 250, 0.45);*/
}

.task-body img.rename {
    cursor: pointer;
    opacity: 0;  /* Start with the icon being transparent */
    transition: opacity 0.3s ease;  /* Smooth transition for the opacity change */
}

.task-body:hover img.rename {
    opacity: 1;  /* Make the icon fully visible when hovering over the task-body */
}
